/* Global Styles */
html, body {
  margin: 0;             /* Remove default margin */
  padding: 0;            /* Remove default padding */
  height: 100%;          /* Ensure the body takes full height */
  overflow: hidden;      /* Prevent scrolling on the entire page */
  font-family: Arial, sans-serif; 
}

/* Map Container Styles */
.map {
  flex-grow: 1;          /* Allow the map to expand within its parent */
  width: 100%;           /* Set the width to 100% to match the viewport */
  height: 100%;          /* Set the height to 100% to match the container height */
  overflow: hidden;      /* Hide any overflow (image larger than container) */
  cursor: default;       /* Default cursor for the map */
}

/* Map Dragging Styles */
.map:active {
  cursor: grabbing;      /* Change cursor to grabbing while dragging */
}

.modal {
  position: fixed; /* Changed to fixed to stay in view while scrolling */
  top: 50px; /* Adjust for modal position */
  left: 600px;
  z-index: 1000;
  display: none;
}

.modal-content {
  max-height: 300px; /* Limit height for scrollable content */
  overflow-y: auto; /* Enable scrolling */
}

/*
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
*/

area:hover {
  cursor: pointer;
}


/* Header Styles */
.header {
  background-color: #800000; /* Maroon background */
  color: gold;               /* Gold text color */
  text-align: center;        /* Center the text */
  padding: 5px;              /* Padding around the text */
  font-size: 24px;           /* Font size for the header text */
  font-weight: bold;         /* Bold header text */
  position: sticky;          /* Sticky position so it stays at the top */
  top: 0;                    /* Stick to the top of the viewport */
  width: 100%;               /* Full width */
  z-index: 10;               /* Ensure it stays on top of other elements */
}

/* Footer Styles */
.footer {
  background-color: #800000; /* Maroon background */
  color: gold;               /* Gold font color */
  text-align: center;        /* Center the text */
  position: fixed;           /* Fix the footer at the bottom of the viewport */
  bottom: 0;                 /* Position it at the bottom */
  width: 100%;               /* Full width */
  padding: 0;                /* Remove any padding */
  margin: 0;                 /* Remove margin to prevent extra space */
  height: 25px;              /* Set a fixed height for the footer */
  line-height: 25px;         /* Vertically center the text within the footer */
  display: flex;             /* Use flexbox for proper alignment */
  justify-content: center;   /* Horizontally center the content */
  align-items: center;       /* Vertically center the content */
}
